.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0; /* Fixed from -1 */
    right: 0;
}

.navbar-logo h1 {
    margin: 0;
}

.navbar-links-left {
    display: flex;
    align-items: center;
}

.navbar-links-right {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes buttons to the far right */
}

.get-started-btn,
.login-btn,
.register-btn {
    background-color: #fff;
    color: #333;
    padding: 10px 20px; /* Adjusted padding for button size */
    border-radius: 40px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Adjusts space between buttons */
    transition: background-color 0.3s ease; /* Smooth hover transition */
}

.get-started-btn:hover,
.login-btn:hover,
.register-btn:hover {
    background-color: #555;
    color: #fff;
}

.logo-img {
    width: 50px; /* Adjust width to make it smaller */
    height: auto; /* Maintains aspect ratio */
}
