.landing-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Dark transparent black */
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.club-name {
    font-size: 24px;
    color: #e07604;
    font-weight: bold;
}

.landing-content {
    text-align: center;
    margin-top: 50px;
}

.landing-content h1 {
    font-size: 36px;
    color: #fff; /* White text for contrast */
    font-size: xx-large;
    font-style: italic;
}

.landing-content p {
    font-size: 18px;
    color: #e0e0e0; /* Light grey text */
    margin: 20px 0;
    font-size: x-large;
    font-style: italic;

}

.cta-buttons {
    margin-top: 20px;
}

.cta-buttons button {
    font-size: 16px;
    padding: 12px 30px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.cta-buttons button:first-child {
    background-color: #e07604;
    color: white;
    border-radius: 50px;
    width: 200px;
}

.cta-buttons button:last-child {
    background-color: #e07604;
    color: white;
    border-radius: 50px;
    margin-left: 10px;
}
